.yes-no-switch {
    margin: 8px 0;
    padding: 5px;
    display: flex;
    align-items: center;
}

.yes-no-switch input[type="checkbox"] {
    margin-right: 8px;
}

.yes-no-switch label {
    font-size: 12px;
    color: #555;
    user-select: none;
    cursor: pointer;
}

.yes-no-switch input[type="checkbox"]:checked + label {
    color: #34587C;
    font-weight: bold;
}